/*
 HEX 
$color1: #ffc09fff;
$color2: #ffee93ff;
$color3: #fcf5c7ff;
$color4: #a0ced9ff;
$color5: #adf7b6ff;
*/


html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: rgb(245, 245, 245);
    margin: 0;
    font-family: sans-serif;
}

.menu {
    background-color: rgb(245, 245, 245, 0.95);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 99;
}

.menu form {
    text-align: center;
    font-size: 4vw;
    padding: 20px;
    color: #2B303A;
}

input[type=number], select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
    font-size: 2.5vw;
    font-family: sans-serif;
}

.save {
  width: 100%;
  background-color: #D91E36;
  color: white;
  padding: 14px 0;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
    font-size: 2vw;
    text-align: center;
}

.save:hover {
  background-color: #E4505F;
}

label {
    float: left;
}

.exit {
    position: absolute;
    top: 0;
    right: 0;
}

.settings {
    position: absolute;
    top: 0;
    right: 0;
}

.exit i.material-icons, .settings i.material-icons {
    font-size: 5vw;
    color: #2B303A;
    cursor: pointer;
}

.container {
  min-height: 100%;
    max-height: 100%;
  display: flex;
  flex-direction: column;
}

#exercise {
    flex-grow: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#timer {
    flex-grow: 2;
    display: flex;
    align-items: center;
}

#controls {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 8vw;
    color: #2B303A;
    margin: 0;
}

p {
    text-align: center;
    font-size: 4vw;
    color: #2B303A;
    margin: 0;
}

#clock {
    color: #D91E36;
    font-size: 18vw;
    text-align: center;
    font-weight: bold;
    width: 100%;
}

i.button {
    color: #D91E36;
    font-size: 20vw;
    cursor: pointer;
}

i.button:hover {
    color: #E4505F;
}

.disabled {
    cursor: not-allowed !important;
    color: #7C7C7C !important;
}

.getReady {
    color: #92DCE5 !important;
    font-size: 9vw !important;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) {
    .menu form {
        font-size: 10vw;
        padding: 50px;
    }
    
    input[type=number], select, textarea {
        font-size: 8vw;
    }
    
    .save {
        font-size: 8vw;
    }
    
    #exerciseName {
        font-size: 12vw;
    }
    
    #nextExerciseName {
        font-size: 8vw;
    }
    
    i.button {
        font-size: 30vw;
    }
    
    #clock {
        font-size: 25vw;
    }
    
    .getReady {
        font-size: 18vw !important;
    }
    
    #controls, #exercise {
        flex-grow: 0;
    }
    
    #exercise {
        margin: 10% 0;
    }
}


